body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: ffffff ;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    width: 1440px;
height: 72px;
}

.main{
    width: 1440px;
height: 600px; 
}

.header-logo {
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo-italic {
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.header-menu-item { 
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-menu-link {
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.header-adres-menu {
}

.header-adres-menu-mail {
    font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.header-adres-menu-tel {
    font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.main {
}

.main-solution { 
    background-color: #2e2f42;
}

.main-title {

    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.main-btn {

font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
}
.main-content {
    width: 1128px;
height: 104px;
}

.main-item {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.main-item-text {
    font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.main-team {
    background-color: #f4f4fd;
}

.main-text-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.main-item-team {
    border-radius: 0 0 4px 4px;
padding: 0px 0px 32px 0px;
width: 264px;
height: 380px;
background-color: #fff;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.main-item-pirson {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

}

.main-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;

}

.main-item-team-img {
    width: 264px;
    height: 260px;
}

.main-portfolio {
    width: 1128px;
height: 1000px;
}

.main-portfolio-title {
    font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.main-item-portfolio {
    width: 360px;
height: 420px;
background: #fff;
}

.main-item-jpg {
    width: 360px;
height: 300px;
}

.main-item-app {
    font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.main-item-portfolio-text {
    font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}


.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
}

footer {
    width: 1440px;
height: 312px;
    background-color: #2e2f42;
}